{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/css/login.css">
{% endblock %}
{% block content %}

<div class="container">
<div class="jumbotron corps">
  <h2>Cr&eacute;er votre compte</h2>
  <br>
  {% if msg %}
    	<div class="alert alert-danger">
    		<p>{{ msg }}</p>
    	</div>    
	{% endif %}
  <form class="form-signin" method="post">
    <div class="form-group input-group">
    	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  	  <input type="text" name="username" class="form-control" placeholder="Nom d'utilisateur" {% if username %} value="{{username}}" {% endif %}>
    </div>
  	<div class="form-group input-group">
  		<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
  		<input type="password" name="password" class="form-control" placeholder="Mot de passe">
  	</div>
  	<div class="form-group">
  		<button name="creer" class="form-control btn-primary btn-block"> Cr&eacute;er </button>
  	</div>
  </form>
</div>
</div>
{% endblock %}