{% extends "layout.html" %}
{% block content %}

<div class="container">
<div class="jumbotron">
  <h2>Mot de passe oubli&eacute;</h2>
  {% if msg %}
    	<div class="alert alert-danger">
    		<p>{{ msg }}</p>
    	</div>    
	{% endif %}
  <p>
    Veuillez entrer l'adresse courriel que vous avez utilis&eacute; lors de la cr&eacute;ation de 
    votre compte.
  </p>
  <form class="form-signin" action="/forgot-password" method="post">
    <div class="form-group">
    	<label>Email: </label>
  	    <input type="email" name="email" class="form-control">
    </div>
  	<div class="form-group">
  		<input type="submit" name="login" class="form-control btn-primary btn-block">
  	</div>
  </form>
</div>
</div>
{% endblock %}