{% extends "layout.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/css/login.css">
{% endblock %}
{% block content %}

<div class="container">
<div class="jumbotron corps">
  <h2>Mot de passe oubli&eacute;?</h2>
  {% if msg %}
    	<div class="alert alert-danger">
    		<p>{{ msg }}</p>
    	</div>    
	{% endif %}
  <p>
    Veuillez entrer l'adresse courriel que vous avez utilis&eacute; lors de la cr&eacute;ation de 
    votre compte.
  </p>
  <form class="form-signin" action="/forgot-password" method="post">
    <div class="form-group input-group">
    	<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  	  <input type="email" name="email" class="form-control" placeholder="Adresse courriel">
    </div>
  	<div class="form-group">
  		<button name="envoyer" class="form-control btn-primary btn-block"> Envoyer </button>
  	</div>
  </form>
</div>
</div>
{% endblock %}