<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Articles</title>
	<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/datepicker/datepicker3.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
    {% block css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
    	<div class="container">
    	    <div class="navbar-header">
    	    	<a href="/" class="navbar-brand">Article Manager</a>
    	    
        		<button class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>      
                </button>
            </div>

    		<div class="navbar-collapse collapse" id="navbar">
    		    <ul class="nav navbar-nav">
    		    	<li>
    		    		<a href="/">Accueil</a>
    		    	</li>
    		    	<li>
    		    		<a href="/admin">Admin</a>
    		    	</li>
    		    </ul>

    			<form action="/search" class="navbar-form navbar-right">
    				<div class="input-group">
		    			<input type="search" name="search" class="form-control" placeholder="Recherche...">
		    			<span class="input-group-btn">
		    				<button class="btn btn-default" type="submit">
		    					<span class="glyphicon glyphicon-search"></span>
		    				</button>
		    			</span>
		    		</div>
	    		</form>
    		</div>
    	</div>
    	
    </nav>

    {% block content %}{% endblock %}

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="/vendor/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/vendor/jquery/datepicker.js" ></script>

    {% block script %}{% endblock %}

</body>
</html>